{% extends 'base.html.twig' %}

{% block title %}Incident index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('index') }}">Index</a> &gt; {{ 'Incidents'|trans }}

                <h1>{{ 'Incident index'|trans }}</h1>

                <a class="btn btn-primary" href="{{ path('incident_new') }}">{{ 'New Incident'|trans }}</a>
                <br>
                <br>

                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'Id'|trans }}</th>
{#                        <th>{{ 'CreatedAt'|trans }}</th>#}
{#                        <th>{{ 'UpdatedAt'|trans }}</th>#}
                        <th>{{ 'Reporter'|trans }}</th>
                        <th>{{ 'Type'|trans }}</th>
                        <th>{{ 'Description'|trans }}</th>
                        <th>{{ 'Immediate action'|trans }}</th>
                        <th>{{ 'Fixed'|trans }}</th>
                        <th>{{ 'Corrective action needed'|trans }}</th>
                        <th>{{ 'Responsible quality manager'|trans }}</th>
{#                        <th>{{ 'Poor quality costs'|trans }}</th>#}
{#                        <th>{{ 'Overhead'|trans }}</th>#}
{#                        <th>{{ 'Risk'|trans }}</th>#}
                        <th>{{ 'actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for incident in incidents %}
                        <tr>
                            <td>{{ incident.id }}</td>
{#                            <td>{{ incident.createdAt ? incident.createdAt|date(date_time_format) : '' }}</td>#}
{#                            <td>{{ incident.updatedAt ? incident.updatedAt|date(date_time_format) : '' }}</td>#}
                            <td>{{ incident.reporter }}</td>
                            <td>{{ incident.type }}</td>
                            <td>{{ incident.description }}</td>
                            <td>{{ incident.immediateAction }}</td>
                            <td>{{ incident.fixed ? 'Yes' : 'No' }}</td>
                            <td>{{ incident.correctiveActionNeeded ? 'Yes' : 'No' }}</td>
                            <td>{{ incident.responsibleQualityManager }}</td>
{#                            <td>{{ incident.poorQualityCosts }}</td>#}
{#                            <td>{{ incident.overhead }}</td>#}
{#                            <td>{{ incident.risk }}</td>#}
                            <td>
                                <a href="{{ path('incident_show', {'id': incident.id}) }}">{{ 'show'|trans }}</a>
                                <a href="{{ path('incident_edit', {'id': incident.id}) }}">{{ 'edit'|trans }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
{#                            <td colspan="14">no records found</td>#}
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-primary" href="{{ path('incident_new') }}">{{ 'New Incident'|trans }}</a>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
