{% extends 'base.html.twig' %}

{% block title %}Incident{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('index') }}">Index</a> &gt; <a href="{{ path('incident_index') }}">{{ 'Incidents'|trans }}</a> &gt; {{ 'Incident'|trans }} {{ incident.id }}

                <h1>{{ 'Incident'|trans }} {{ incident.id }}</h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ 'Id'|trans }}</th>
                        <td>{{ incident.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'CreatedAt'|trans }}</th>
                        <td>{{ incident.createdAt ? incident.createdAt|date(date_time_format) : '' }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'UpdatedAt'|trans }}</th>
                        <td>{{ incident.updatedAt ? incident.updatedAt|date(date_time_format) : '' }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Reporter'|trans }}</th>
                        <td>{{ incident.reporter }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Type'|trans }}</th>
                        <td>{{ incident.type|incidentType|trans }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Description'|trans }}</th>
                        <td>{{ incident.description }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Immediate action'|trans }}</th>
                        <td>{{ incident.immediateAction }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Fixed'|trans }}</th>
                        <td>{{ (incident.fixed ? 'Yes' : 'No')|trans }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Corrective action needed'|trans }}</th>
                        <td>{{ (incident.correctiveActionNeeded ? 'Yes' : 'No')|trans }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Responsible quality manager'|trans }}</th>
                        <td>{{ incident.responsibleQualityManager }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Poor quality costs'|trans }}</th>
                        <td>{{ incident.poorQualityCosts }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Overhead'|trans }}</th>
                        <td>{{ incident.overhead }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Risk'|trans }}</th>
                        <td>{{ incident.risk }}</td>
                    </tr>
                    </tbody>
                </table>

                {% if incident.correctiveActions|length > 0 %}
                    <h2>{{ 'Corrective Actions'|trans }}</h2>

                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>{{ 'Id'|trans }}</th>
                            <th>{{ 'Analysis and idea'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                            <th>{{ 'Approved by management'|trans }}</th>
                            <th>{{ 'Implemented until'|trans }}</th>
                            <th>{{ 'Implemented by'|trans }}</th>
                            <th>{{ 'Effectiveness proofed by'|trans }}</th>
                            <th>{{ 'Effectiveness proofed at'|trans }}</th>
                            <th>{{ 'Effectiveness proofed through'|trans }}</th>
                            <th>{{ 'actions'|trans }}</th>
                        </tr>
                        </thead>
                        {% for corrective_action in incident.correctiveActions %}
                        <tbody>
                        <tr>
                            <td>{{ corrective_action.id }}</td>
                            <td>{{ corrective_action.analysisAndIdea }}</td>
                            <td>{{ corrective_action.actions }}</td>
                            <td>{{ (corrective_action.approvedByManagement ? 'Yes' : 'No')|trans }}</td>
                            <td>{{ corrective_action.implementedUntil ? corrective_action.implementedUntil|date(date_format) : '' }}</td>
                            <td>{{ corrective_action.implementedBy }}</td>
                            <td>{{ corrective_action.effectivenessProofedBy }}</td>
                            <td>{{ corrective_action.effectivenessProofedAt ? corrective_action.effectivenessProofedAt|date(date_format) : '' }}</td>
                            <td>{{ corrective_action.effectivenessProofedThrough }}</td>
                            <td>
                                <a href="{{ path('corrective_action_show', {'id': corrective_action.id}) }}">{{ 'show'|trans }}</a>
                                <a href="{{ path('corrective_action_edit', {'id': corrective_action.id}) }}">{{ 'edit'|trans }}</a>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                {% endif %}

                <a class="btn btn-primary" href="{{ path('incident_edit', {'id': incident.id}) }}">{{ 'edit'|trans }}</a>

                <a class="btn btn-primary" href="{{ path('corrective_action_new', {'incident': incident.id}) }}">{{ 'add corrective action'|trans }}</a>

                <br>
                <br>
{#                {{ include('incident/_delete_form.html.twig') }}#}
            </div>
        </div>
    </div>
{% endblock %}
