{% extends 'base.html.twig' %}

{% block title %}CorrectiveAction index{% endblock %}

{% block body %}
    <h1>CorrectiveAction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Analysis and idea'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
                <th>{{ 'Approved by management'|trans }}</th>
                <th>{{ 'Implemented until'|trans }}</th>
                <th>{{ 'Implemented by'|trans }}</th>
                <th>{{ 'Effectiveness proofed by'|trans }}</th>
                <th>{{ 'Effectiveness proofed at'|trans }}</th>
                <th>{{ 'Effectiveness proofed through'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for corrective_action in corrective_actions %}
            <tr>
                <td>{{ corrective_action.id }}</td>
                <td>{{ corrective_action.analysisAndIdea }}</td>
                <td>{{ corrective_action.actions }}</td>
                <td>{{ (corrective_action.approvedByManagement ? 'Yes' : 'No')|trans }}</td>
                <td>{{ corrective_action.implementedUntil ? corrective_action.implementedUntil|date(date_format) : '' }}</td>
                <td>{{ corrective_action.implementedBy }}</td>
                <td>{{ corrective_action.effectivenessProofedBy }}</td>
                <td>{{ corrective_action.effectivenessProofedAt ? corrective_action.effectivenessProofedAt|date(date_format) : '' }}</td>
                <td>{{ corrective_action.effectivenessProofedThrough }}</td>
                <td>
                    <a href="{{ path('corrective_action_show', {'id': corrective_action.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('corrective_action_edit', {'id': corrective_action.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
