{% extends 'base.html.twig' %}

{% block title %}New CorrectiveAction{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('index') }}">Index</a>
                &gt; <a href="{{ path('incident_index') }}">{{ 'Incidents'|trans }}</a>
                &gt; <a href="{{ path('incident_show', {'id': corrective_action.incident.id}) }}">{{ 'Incident'|trans }} {{ corrective_action.incident.id }}</a>
                &gt; {{ 'New Corrective Action'|trans }}

                <h1>F 2.3.1.02 {{ 'Create new CorrectiveAction'|trans }}</h1>

                {{ include('corrective_action/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
